<div style="background:#f2f2f2;">
    <section data-ng-controller="DoctorsController" data-ng-init="find()" class="vc_row wpb_row container">
        <div class="container">
            <div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"> 
					<div class="nav_link">
						<ul class="clearfix">
							<li>
								<a href="javascript:;" class="active" ng-click="doctorFilterModel=''">
									ALL DOCTORS
								</a>
							</li>
							<li>
								<a href="javascript:;" ng-click="doctorFilterModel='CARDIOLOGIST'">
									CARDIOLOGIST
								</a>
							</li>
							<li>
								<a href="javascript:;" ng-click="doctorFilterModel='DENTIST'">
								   DENTIST
								</a>
							</li>
							<li>
								<a href="javascript:;" ng-click="doctorFilterModel='NEUROLOGIST'">
									NEUROLOGIST
								</a>
							</li>
							<li>
								<a href="javascript:;" ng-click="doctorFilterModel='ORTHOPADIC'">
									ORTHOPADIC
								</a>
							</li>
							<li>
								<a href="javascript:;" ng-click="doctorFilterModel='PHYSIOLOGIST'">
									PHYSIOLOGIST
								</a>
							</li>
							<li id="nav_01">
								<a href="javascript:;" ng-click="doctorFilterModel='SERGEON'">
									SERGEON
								</a>
							</li>
						</ul>
					</div>
				</div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cont" data-ng-repeat="doctor in doctors | filter :{speciality:doctorFilterModel} track by $index" data-ng-href="#!/doctors/{{doctor._id}}">
							<div class="container_bg" >
								<div>
									<i class="fa fa-heart-o"></i><span> 3 | </span><i class="fa fa-share-alt"></i>
									<span class="pull-right">Video chat  <i class="fa fa-external-link"></i></span>
								</div>
								<div class="inner_img">
									<img src="modules/doctors/img/doctor.jpg" width="100%" class="info"/>
									
									<div class="mask">
										<img src="modules/doctors/img/doctor.jpg" style="border:solid 2px #fff;width:30%;">
										<h6 style="color:#fff;">gdfugoidfug</h6>
										<h6 style="color:#fff;">gdfugoidfug</h6>
									</div>
								</div>
								<h5>{{doctor.name}}</h5>
								<h6>{{doctor.speciality}}</h6>
								<div class="border_green"></div>
								<p>Client: None</p>
								<p class="doc-description">{{doctor.description}}<p>
								<a data-ng-href="#!/doctors/{{doctor._id}}" class="btn btn-success pull-right">E-Consulting</a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
