<div style="background:#f2f2f2;">
	<section data-ng-controller="DoctorsController" data-ng-init="findOne()" class="vc_row wpb_row container">
		<div class="page-header">
			<h2 class="profile-heading" style="text-align: center;">Appointment E-Consulatation</h2>
		</div>
		<div class="pull-right" data-ng-if="authentication.user">
			<a class="btn btn-primary" href="/#!/doctors/{{doctor._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<div class="profile-img">
							<img src="modules/doctors/img/doctor.jpg" width="60%"/>
						</div>
						<div class="rating">
							<rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
							<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
						</div>
						<div class="profile-name">
							<h2>{{doctor.name}}</h2>
						</div>
						<div class="description">
							<p>Description:</p>
							<small>{{doctor.description}}</small>
						</div>
						<small>
							<em class="text-muted">
								Posted on
								<span data-ng-bind="doctor.created | date:'mediumDate'"></span>
								by
								<span data-ng-bind="doctor.user.displayName"></span>
							</em>
						</small>
					</div>
				</div>

			</div>
			<div class="col-sm-6">
				<div ui-calendar="uiConfig.calendar" data-ng-controller="configController" ng-model="eventSources"></div>
			</div>
		</div>
	</section>
</div>
