h1 {
	text-transform: none;
}
.rating {
	padding-top: 10px;
	padding-bottom: 10px;
}
.rating .glyphicon-star {
	color: yellowgreen;
}
.portfolio_nav li{
	list-style: none;
	float: left;
	margin-right: 15px;
}
.container_bg {
	background: #fff;
	margin-bottom: 20px;
	padding: 10px 10px 45px 10px;
}
.doc-description{
	height:112px;
	overflow:hidden;
}
.container_bg:hover{
	box-shadow:0 2px 2px rgba(0,0,0,.50);
}
.border_green{
	height: 1px;
	background: #5CB85C;
	margin-bottom: 5px;
}
.inner_img{
	margin: 10px -10px;
	overflow:hidden;
}

.nav_link{
	width: 100%;
	margin-top: 20px;
}	
.nav_link ul{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	}
.nav_link ul li{
	list-style: none;
	float: left;
}
.nav_link ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 18px;
	padding: 8px 0;
}

.nav_link ul li a:after{
	content: "|";
	margin: 0 8px;
}
#nav_01 a:after{
	content: "";
}
.divider{
	height:550px;
	width:0;
	border:0;
	border-left:2px;
	border-style:double;
	border-color:gray;
	margin-left:50%;
}
.marg_less{
	margin-bottom:-13px;
}
.inner_img{
	position:relative;
	display: inline-block;
    background: black;
}
.inner_img .mask{
	display: none;
	position:absolute;
	top:20px;
	left:20px;
}
.inner_img:hover .info{
    opacity: 0.5;
    cursor:pointer;
}
.inner_img:hover .mask{
    display:block;
}

@media screen and (max-width: 768px) {
	.divider{
		height: 0px;
	}

}


